/*Footer global*/
footer {
  background-image: url("../images/header_imgs/background_wallp.png");
  padding: 40px 0px; }

/*Form - 1er panel del footer*/
footer form {
  padding: 10px; }
  footer form h5 {
    padding-top: 10px; }

/*Card - 2do panel del footer*/
footer div .card {
  text-align: center; }
  footer div .card .card-title {
    padding-top: 15px; }

@media only screen and (max-width: 992px) {
  footer div .card {
    margin-top: 30px;
    padding: 0px; }
    footer div .card .card-title {
      padding-top: 15px; } }
