@charset "UTF-8";
/*********/
/*MAPAS*/
/*********/
/*MIXINS*/
/*********/
/*EXTENDS*/
.AccordionFormatting .card, #seccionTrayectoria .card, #faq .card {
  box-shadow: 5px 6px 2px #ABA5A2;
  background-color: white; }
  .AccordionFormatting .card .card-header, #seccionTrayectoria .card .card-header, #faq .card .card-header {
    background-color: #393E46; }
    .AccordionFormatting .card .card-header .btn, #seccionTrayectoria .card .card-header .btn, #faq .card .card-header .btn {
      color: #00ADB5; }

a {
  text-decoration: none;
  color: #00ADB5; }
  a:hover {
    text-decoration: none;
    color: #00ADB5; }

ul li {
  list-style: none; }

p {
  margin-bottom: 0px; }

body {
  overflow-x: hidden; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EEEEEE; }

header .mobile-only li {
  font-size: 1.6rem; }

.h1container {
  padding: 25px 0px;
  border: 1px solid black;
  /*-moz-box-shadow: inset 9px 9px 9px 0 #BFBFBF, inset -9px -9px 9px #BFBFBF;
	-webkit-box-shadow: inset 9px 9px 9px 0 #BFBFBF, inset -9px -9px 9px #BFBFBF;*/
  box-shadow: inset 0px 15px 15px 0 #BFBFBF, inset 0px -12px 22px #BFBFBF; }
  .h1container h1 {
    color: #393E46;
    text-align: center;
    font-weight: 500;
    margin: 0; }

section {
  text-align: center; }

.CuadrosDeTexto {
  display: inline-block;
  border: 1px solid black;
  background-color: #F0F0F0;
  padding: 9px;
  border-radius: 3px; }

.navBottom {
  padding: 75px 0px 75px 0px; }
  .navBottom nav {
    box-shadow: -5px 6px 2px #ABA5A2; }

.RedesSociales {
  padding: 0; }
  .RedesSociales li a {
    width: 50px;
    height: 50px;
    background-color: #EEEEEE;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid whitesmoke;
    z-index: 1; }
    .RedesSociales li a .icon {
      position: relative;
      color: #262626;
      transition: .5s;
      z-index: 3; }

.RedesSociales li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg); }

.RedesSociales li a:before {
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  content: "";
  position: absolute;
  background: #f00;
  transition: .5s;
  z-index: 2; }

.RedesSociales li a:hover:before {
  top: 0; }

.RedesSociales li:nth-child(1) a:before {
  background: #25D366; }

.RedesSociales li:nth-child(2) a:before {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); }

@media only screen and (max-width: 992px) {
  .desktop-only {
    display: none !important; } }

@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none !important; } }

footer {
  background-color: #393E46;
  position: relative; }
  footer .container-fluid:nth-child(2) .row .col-12 span {
    font-size: 0.8rem; }
  footer .row {
    position: relative; }
  footer .footer-item:nth-child(1) {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -97px; }
    footer .footer-item:nth-child(1) img {
      z-index: 3; }
    footer .footer-item:nth-child(1) #circle {
      display: flex;
      justify-content: center;
      position: absolute;
      top: -6px;
      z-index: 2;
      height: 90px;
      width: 90px;
      background-color: #00ADB5;
      opacity: 20%;
      border-radius: 50%; }

@media only screen and (max-width: 992px) {
  footer {
    padding: 50px 0px 0px 0px; }
    footer div .card {
      margin-top: 30px; }
      footer div .card .card-title {
        display: block;
        padding: 15px 10px 0px 10px; }
      footer div .card .card-body .mobile-only {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 60px; }
        footer div .card .card-body .mobile-only li {
          font-size: 2rem; }
    footer .container-fluid:nth-child(2) .row {
      margin-top: 30px; }
      footer .container-fluid:nth-child(2) .row .col-12 {
        display: flex;
        justify-content: center; } }

@media only screen and (min-width: 992px) {
  footer {
    padding: 50px 0px 50px 0px; }
    footer .card {
      height: 100%; }
    footer .container-fluid:nth-child(2) .row .col-12 {
      display: flex;
      position: absolute;
      bottom: -50px; }
    footer .container-fluid:nth-child(2) .row .col-12:nth-child(1) {
      justify-content: flex-start; }
    footer .container-fluid:nth-child(2) .row .col-12:nth-child(2) {
      justify-content: flex-end; } }

/*****************************************/
/***********GENERAL ATTRIBUTES************/
/*****************************************/
/*Eliminación de overflow en eje X causado por Bootstrap */
#seccionTrayectoria .row, #seccionPorQueElegirnos .row, #seccionTestimonios .row, .navBottom .row {
  margin-right: 0;
  margin-left: 0; }

#seccionMision {
  background-image: linear-gradient(210deg, white, #8dc8d8); }

#seccionTrayectoria {
  border-top: 1px solid black;
  background-image: url("../images/plano7.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #seccionTrayectoria .row {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    /*Gana precedencia por sobre el resets.scss,
		devolviendo los -bullets characters- a los ul li*/ }
    #seccionTrayectoria .row .col-lg-3 ul li {
      list-style: square; }
    #seccionTrayectoria .row .col-lg-1 {
      font-size: 2rem; }
  #seccionTrayectoria h2 {
    font-size: 3rem; }
  #seccionTrayectoria .btn {
    font-size: 20px; }

#seccionTestimonios {
  background-color: #8d99ae;
  color: #f1ebe5; }
  #seccionTestimonios .carousel-inner .carousel-item {
    font-size: 1.1rem; }
  #seccionTestimonios .carousel-inner .testimonio {
    text-align: left;
    border-left: 1px solid black; }
  #seccionTestimonios .carousel-control-prev-icon, #seccionTestimonios .carousel-control-next-icon {
    background-color: #00ADB5;
    border-radius: 3px;
    padding: 15px; }

#seccionPorQueElegirnos {
  padding: 75px 0px 100px 0px;
  border-top: 1px solid black; }
  #seccionPorQueElegirnos p {
    margin: 0; }
  #seccionPorQueElegirnos .row:nth-child(1) {
    margin-bottom: 50px; }
    #seccionPorQueElegirnos .row:nth-child(1) h2 {
      font-size: 3rem; }
  #seccionPorQueElegirnos .row:nth-child(2) .cardIconTitleConteiner {
    margin-bottom: 10px; }
    #seccionPorQueElegirnos .row:nth-child(2) .cardIconTitleConteiner img {
      margin-right: 5px; }
  #seccionPorQueElegirnos .row:nth-child(2) .card {
    height: 240px; }
    #seccionPorQueElegirnos .row:nth-child(2) .card .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    #seccionPorQueElegirnos .row:nth-child(2) .card .cardIconTitleConteiner {
      display: flex;
      align-items: center; }
      #seccionPorQueElegirnos .row:nth-child(2) .card .cardIconTitleConteiner .card-title {
        margin-bottom: 0; }

.navBottom {
  padding: 100px 0px 100px 0px; }

/***********************/
/***********************/
/*INICIO MEDIA QUERIES*/
/*mobile Y tablets*/
@media only screen and (max-width: 992px) {
  #seccionMision {
    padding: 0px 0px 50px 0px; }
    #seccionMision .CuadrosDeTexto {
      box-shadow: -5px 5px 4px #2d3436; }
    #seccionMision button {
      margin: 20px 0px; }
    #seccionMision .container-fluid .row .col-12 {
      margin-top: 20px;
      margin-bottom: 20px; }
  #seccionTrayectoria {
    padding: 150px 3% 150px 3%; }
    #seccionTrayectoria .row {
      /*Espaciado entre elementos,
			el selector -not- omite los ">"*/
      padding: 50px 5px 50px 5px; }
      #seccionTrayectoria .row .col-12:not(.rotate-sm-90) {
        padding: 20px 15px; }
      #seccionTrayectoria .row .col-lg-3 h3 {
        text-align: center; }
      #seccionTrayectoria .row .col-lg-3 ul li {
        text-align: left; }
      #seccionTrayectoria .row .rotate-sm-90 {
        transform: rotate(90deg); }
  #seccionTestimonios {
    padding: 50px 0px 75px 0px;
    /*Saca los botones fuera del slideshow*/ }
    #seccionTestimonios .carousel-inner {
      position: relative; }
    #seccionTestimonios .carousel-control-prev {
      display: flex;
      justify-content: flex-start;
      margin-left: -7px; }
    #seccionTestimonios .carousel-control-next {
      display: flex;
      justify-content: flex-end;
      margin-right: -7px; }
    #seccionTestimonios .row:nth-child(2) {
      height: 250px; }
      #seccionTestimonios .row:nth-child(2) .carousel-item {
        height: 250px; }
  .navBottom h2 {
    font-size: 1.5rem; } }

/***********************/
/***********************/
/*MOBILE-ONLY*/
@media only screen and (max-width: 768px) {
  #seccionPorQueElegirnos .row:nth-child(2) .col-11 .card {
    box-shadow: 1px 4px 5px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-lg-4:nth-child(-n+5) {
    margin-bottom: 25px; } }

/***********************/
/***********************/
/*TABLET-ONLY*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #seccionPorQueElegirnos .row:nth-child(2) .col-lg-4:nth-child(-n+4) {
    margin-bottom: 25px; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(1) .card {
    box-shadow: 3px 3px 8px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(2) .card {
    box-shadow: -3px 3px 8px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(3) .card {
    box-shadow: 3px 1px 8px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(4) .card {
    box-shadow: -3px 1px 8px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(5) .card {
    box-shadow: 3px -3px 8px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(6) .card {
    box-shadow: -3px -3px 8px #555D66; } }

/***********************/
/***********************/
/*Netbooks and Desktops*/
@media only screen and (min-width: 992px) {
  /*Shadowing effect*/
  #seccionMision {
    padding: 75px 0px 75px 0px; }
    #seccionMision .container-fluid .row .CuadrosDeTexto:nth-child(1) {
      margin-left: 20px;
      text-align: left;
      box-shadow: 6px 6px 5px #555D66; }
    #seccionMision .container-fluid .row .CuadrosDeTexto:nth-child(3) {
      margin-right: 20px;
      box-shadow: -6px 6px 5px #555D66;
      text-align: right; }
    #seccionMision .container-fluid .row button {
      box-shadow: 1px 5px 3px #aaaaaa;
      color: #00ADB5; }
  #seccionTrayectoria {
    padding: 175px 2% 175px 2%; }
    #seccionTrayectoria .row {
      padding: 50px 25px; }
      #seccionTrayectoria .row .col-lg-3 {
        text-align: left; }
        #seccionTrayectoria .row .col-lg-3 h3 {
          font-size: 1.5rem; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-lg-4:nth-child(-n+3) {
    margin-bottom: 25px; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(1) .card {
    box-shadow: 3px 4px 5px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(4) .card {
    box-shadow: 3px 4px 5px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(2) .card {
    box-shadow: 1px 4px 5px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(5) .card {
    box-shadow: 1px 4px 5px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(3) .card {
    box-shadow: -3px 4px 5px #555D66; }
  #seccionPorQueElegirnos .row:nth-child(2) .col-11:nth-child(6) .card {
    box-shadow: -3px 4px 5px #555D66; }
  #seccionTestimonios {
    padding: 50px 0px 15px 0px;
    /*Saca los botones fuera del slideshow*/
    /*Evita que el alto cambie por diferencia de renglones entre testimonios
		 y que eso mueva las secciones que vienen debajo de esta*/ }
    #seccionTestimonios .carousel-control-prev {
      margin-left: -100px; }
    #seccionTestimonios .carousel-control-next {
      margin-right: -100px; }
    #seccionTestimonios .carousel-inner {
      height: 75px; }
    #seccionTestimonios .row:nth-child(2) {
      height: 170px; } }

#faq section {
  padding: 40px 0px 40px 0px; }

#faq .navBottom {
  padding: 0px 0px 75px 0px; }

.containerProyectoX #CarouselProyectoX .carousel-inner {
  display: flex;
  align-items: center; }

.containerProyectoX .guardBand {
  height: 20px;
  overflow: hidden; }
  .containerProyectoX .guardBand img {
    width: 100%; }

.containerProyectoX .framesProyectoX .row iframe {
  display: block; }

.containerProyectoX .navBottom {
  padding: 60px 0px 75px 0px; }

/***********************/
/*INICIO DE MEDIA QUERIES*/
/*Netbooks and Desktops*/
@media only screen and (min-width: 992px) {
  .containerProyectoX .carousel-inner {
    height: 550px; }
  .containerProyectoX .CuadrosDeTexto {
    text-align: left;
    justify-content: left; }
    .containerProyectoX .CuadrosDeTexto #DescriptProyX {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start; }
  .containerProyectoX .framesProyectoX {
    background-color: #535c68;
    color: #EEEEEE;
    padding: 50px 0px 50px 0px;
    margin-top: 65px; }
    .containerProyectoX .framesProyectoX .row {
      justify-content: space-evenly; }
      .containerProyectoX .framesProyectoX .row div:nth-child(1) {
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 30px;
        margin-top: 30px; }
      .containerProyectoX .framesProyectoX .row div:nth-child(2) {
        padding-left: 0px; }
      .containerProyectoX .framesProyectoX .row div:nth-child(5) {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 45px; } }

/***********************/
/*Mobile and Tablets*/
@media only screen and (max-width: 992px) {
  #CarouselProyectoX {
    padding: 0; }
    #CarouselProyectoX .carousel-inner {
      height: 300px; }
  .containerProyectoX .CuadrosDeTexto {
    justify-content: center;
    align-items: center; }
    .containerProyectoX .CuadrosDeTexto #DescriptProyX span {
      text-align: center; }
    .containerProyectoX .CuadrosDeTexto #DescriptProyX h2 {
      font-size: 1.5rem; }
  .containerProyectoX .framesProyectoX .row div:nth-child(odd) {
    margin-top: 25px;
    margin-bottom: 25px; }
  .containerProyectoX .framesProyectoX .row div:nth-child(even) h2 {
    margin-bottom: 20px; }
  .containerProyectoX .framesProyectoX .row div:nth-child(even) iframe {
    margin-bottom: 10px; }
  .containerProyectoX .navBottom {
    padding: 25px 0px 75px 0px; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #CarouselProyectoX .carousel-inner {
    height: 450px; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #CarouselProyectoX .carousel-inner {
    height: 600px; } }

#containerProyectos {
  padding: 40px 0px 10px 0px; }
  #containerProyectos .cardShadow {
    padding: 0; }
  #containerProyectos .row {
    margin: 0; }

/***********************/
/*INICIO MEDIA QUERIES*/
/*Netbooks and Desktops*/
@media only screen and (min-width: 992px) {
  /*Sombras cards Galería*/
  #containerProyectos .row .cardShadow:nth-child(odd) {
    box-shadow: 10px 10px 5px #aaaaaa; }
  #containerProyectos .row .cardShadow:nth-child(even) {
    box-shadow: -10px 10px 5px #aaaaaa; } }

/***********************/
/*Mobile and Tablets*/
@media only screen and (max-width: 992px) {
  /*Sombras cards Galería*/
  #containerProyectos .row .cardShadow {
    box-shadow: 3px 3px 5px #aaaaaa; } }

#servicios section {
  padding: 75px 0px 90px 0px;
  background-image: url("../images/h1-bckg-ver2.1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/***********************/
/***********************/
/*INICIO MEDIA QUERIES*/
/*Netbooks and Desktops*/
@media only screen and (min-width: 992px) {
  #servicios section div:nth-child(3) {
    justify-content: space-evenly; }
  #servicios section .btn {
    height: 20%; }
  #servicios section img {
    border-top: 1px solid black;
    border-bottom: 1px solid black; } }

/***********************/
/*Mobile and Tablets*/
@media only screen and (max-width: 992px) {
  #servicios section img {
    border-left: 1px solid black;
    border-right: 1px solid black; } }
