html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	font-size: 20px;
	background-color: map-get($coloresPrincipales, $colour-whiteish-cream);
}

header {
	#myNavbar .navbar-nav {
		align-items: center;
	}

	.mobile-only {
		li {
			font-size: 1.6rem;
		}
	}

	.dropdown-menu {
		z-index: 2;
	}
}

main {

	/*Fix para que los filtros queden debajo del dropdown header.
	selector del filtro en vista desktop.*/
	.filtroDeContenido {
		z-index: 1;
	}

	.h1container {
		padding: 25px 0px;
		border: 1px solid black;
		-moz-box-shadow: inset 0px 15px 15px 0 #BFBFBF, inset 0px -12px 22px #BFBFBF;
		-webkit-box-shadow: inset 0px 15px 15px 0 #BFBFBF, inset 0px -12px 22px #BFBFBF;
		box-shadow: inset 0px 15px 15px 0 #BFBFBF, inset 0px -12px 22px #BFBFBF;
		background-color: #F2F2F2;

		h1 {
			color: map-get($coloresPrincipales, $colour-darker);
			text-align: center;
			font-weight: 500;
			margin: 0;
		}
	}

	section {
		text-align: center;
	}

	.accordionFullyClickable {
		.card-header {
			padding: 0;

			button {
				padding: 1.3rem;
				height: 100%;
				width: 100%;
				font-size: 1.2rem;
			}
		}

		.card-body {
			font-family: 'Open Sans', sans-serif;
			font-size: 17px;
		}
	}

	.fullwidth {
		display: block;
		width: 100%;
	}

	.navBottom {
		button {
			font-size: 1.15rem;
		}

		.dropdown-toggle {
			white-space: normal;
			color: map-get($coloresPrincipales, $colour-blueish-logo);
		}

		position:relative;
		z-index:10;


		//ff 3.6+
		background:-moz-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0) 0%, rgba(0, 188, 212, 0.08) 100%);
		//safari 5.1+,chrome 10+
		background:-webkit-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0) 0%, rgba(0, 188, 212, 0.08) 100%);
		//opera 11.10+ 
		background:-o-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0) 0%, rgba(0, 188, 212, 0.08) 100%);
		//ie 10+
		background:-ms-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0) 0%, rgba(0, 188, 212, 0.08) 100%);
		//global 92%+ browsers support
		background:radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0) 0%, rgba(0, 188, 212, 0.08) 100%);
	}

	.carousel-control-next,
	.carousel-control-prev {
		opacity: 0.6;
	}

	//less opacity than bts default
}



header,
footer {

	//Redes Sociales Botones
	.RedesSociales {
		padding: 0;

		li {
			display: flex;
			align-items: center;

			a {
				@include AnchoAlto(50px, 50px);
				background-color: #ebf4ff;
				text-align: center;
				line-height: 50px;
				font-size: 30px;
				margin: 0 5px;
				display: block;
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				border: 1px solid whitesmoke;
				z-index: 1;

				.icon {
					position: relative;
					color: #262626;
					transition: .5s;
					z-index: 3;
				}
			}
		}
	}

	//Redes Sociales animación
	.RedesSociales li a:hover .icon {
		color: #fff;
		transform: rotateY(360deg);
	}

	//Adición de color en el flip
	.RedesSociales li a:before {
		@include AnchoAlto(100%, 100%);
		@include TopLeft(100%, 0);
		content: "";
		position: absolute;
		background: #f00;
		transition: .5s;
		z-index: 2;
	}

	//animación del color que sube
	.RedesSociales li a:hover:before {
		top: 0;
	}

	.RedesSociales li:nth-child(1) a:before {
		background: #25D366;
	}

	.RedesSociales li:nth-child(2) a:before {
		background: #f09433;
		background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
		background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
		background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	}
}


/***********************/
/***********************/
/*Mobile devices*/
@media only screen and (max-width: 992px) {
	.navBottom {
		@include SectionPadding(4.5rem, 0px, 6.2rem, 0px);

		h2 {
			font-size: 1.5rem;
		}

		button {
			margin: 0.5rem 0px;
			@include BoxShadow(-5px, 6px, 2px, #ABA5A2);
		}
	}
}

/***********************/
/***********************/
/*Notebooks and Desktops*/
@media only screen and (min-width: 992px) {
	.navBottom {
		@include SectionPadding(5.2rem, 0px, 6.2rem, 0px);

		//sombra al btn-group only if btn-group (!btn-group-vertical)
		nav {
			@include BoxShadow(-5px, 6px, 2px, #ABA5A2);
		}
	}
}