

footer
{
	//z-index para que el dropdown menu del navBottom quede por delante.
	z-index:-2;
	background-color: map-get($coloresPrincipales, $colour-darker);
	position:relative;
	//firma
	.container-fluid:nth-child(2)
	{
		.row
		{
			.col-12
			{
				span
				{
					font-size: 0.8rem;
				}
			}
		}
	}
	//De acá hasta abajo, es el logo MJ para la apertura del footer.
	.row
	{
		position:relative;
	}

	//Ambos circulos
	.footer-item:nth-child(1)
	{
		display:flex;
		justify-content: center;
		position:absolute;
		top:-97px;

		//logo
		img
		{
			z-index:3;
		}

		//Estela alrededor del logo
		#circle
		{
			display:flex;
			justify-content: center;
			position:absolute;
			top:-6px;
			z-index:2;  
			height: 90px;
			width: 90px;
			background-color: map-get($coloresPrincipales, $colour-blueish-logo);
			opacity: 20%;
			border-radius: 50%;
		}
	}

	//Alineacion de formulario datos personales MJ
	.footer-item:nth-child(3)
	{
		.card-body
		{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items:center;
		}
	}

}

//MOBILE
@media only screen and (max-width:992px)
{
	footer
	{
		@include SectionPadding(50px, 0px, 0px, 0px);
		div
		{
			.card
			{
				margin-top:30px;
				.card-title
				{
					display: block;
					padding: 15px 10px 0px 10px;
				}

				//alineación redes sociales mobile
				.card-body
				{
					.mobile-only
					{
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						align-items:center;
						height:60px;
						li
						{
							font-size:2rem;
						}
					}
				}
			}
		}

		//firma
		.container-fluid:nth-child(2)
		{
			.row
			{
				margin-top:30px;
				.col-12
				{
					display:flex;
					justify-content: center;
					order:2;
				}

				//Sube la firma desarrollador en version mobile sobreescribiendo el orden de 2 a 1.
				.col-12:nth-child(2)
				{
					order:1;
				}
			}
		}
	}
}


//DESKTOP
@media only screen and (min-width:992px)
{
	footer
	{
		@include SectionPadding(50px, 0px, 50px, 0px);
		.card
		{
			height:100%;
		}
		.container-fluid:nth-child(2)
		{
			//firma
			.row
			{
				.col-12
				{
					display:flex;
					justify-content: center;
					bottom:-50px;
				}
			}
		}
	}
}