footer {
	background-color: map-get($coloresPrincipales, $colour-darker);

	.RedesSociales {
		li a {
			border: 1px solid #a8a8a8 !important;
		}
	}

	//Créditos
	.containerCreditos {
		font-size: 0.8rem;
		color: map-get($coloresPrincipales, $colour-whiteish-cream);
	}

	//De acá hasta abajo, es el logo MJ para la apertura del footer.
	.row {
		position: relative;
		z-index: 1;
	}

	//Ambos circulos
	.footer-item:nth-child(1) {
		display: flex;
		justify-content: center;
		position: absolute;
		top: -97px;

		//logo
		img {
			z-index: 3;
		}

		//Estela alrededor del logo
		#circle {
			display: flex;
			justify-content: center;
			position: absolute;
			top: -6px;
			z-index: 2;
			height: 90px;
			width: 90px;
			background-color: map-get($coloresPrincipales, $colour-blueish-logo);
			opacity: 20%;
			border-radius: 50%;
		}
	}

	//Alineacion de formulario datos personales MJ
	.footer-item:nth-child(3) {
		.card{
			clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
			.card-body {
				display: flex;
				flex-direction: column;
				.dataPersonalMJ{
					padding-left: 0.8rem;
					.card-text{
						display: block;
						text-align: left;
						&:nth-child(2n) {
							margin-bottom:1.9rem;
						}
					}			
				}
			}
		}
	}

}

/***********************/
/***********************/
//MOBILE
@media only screen and (max-width:992px) {
	footer {
		padding-top: 3rem; //eleva el color oscuro hasta la mitad del logo.

		.card {
			margin-top: 1.9rem;

			.card-title {
				display: block;
				padding: 0.9rem 0.6rem 0px 0.6rem;
			}

			//alineación redes sociales mobile
			.card-body {
				.mobile-only {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					height: 3.6rem;

					li {
						font-size: 2rem;
					}
				}
			}
		}

		//firma
		.container-fluid:nth-child(2) {
			.row {
				margin-top: 1.8rem;

				.col-12 {
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}


/***********************/
/***********************/
//DESKTOP
@media only screen and (min-width:992px) {
	footer {
		@include SectionPadding(3.1rem, 0px, 0px, 0px);
		.containerCreditos {
			margin-top: 50px;
			text-align: center;
		}
	}
}