#containerGaleriaProyectos {
  @include SectionPadding(40px, 0px, 10px, 0px);

  .cardShadow {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  //arregla overflow-x generado por BTS
  .card {
    height: 100%;

    a:nth-child(1) {
      display: flex;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  #cardRemod {
    a:nth-child(1) {
      display: block;
      height: auto;
    }
  }

}



/***********************/
/*INICIO MEDIA QUERIES*/
/*Netbooks and Desktops*/

@media only screen and (min-width:992px) {

  /*Sombras cards Galería*/
  #containerGaleriaProyectos {
    .row {
      .card {
        a:nth-child(1) {
          height: 14rem;
        }
      }

      .cardShadow:nth-child(odd) {
        @include BoxShadow(10px, 10px, 5px, #aaaaaa);
      }

      .cardShadow:nth-child(even) {
        @include BoxShadow(-10px, 10px, 5px, #aaaaaa);
      }
    }
  }
}




/***********************/
/*Mobile and Tablets*/
@media only screen and (max-width:992px) {

  /*Sombras cards Galería*/
  #containerGaleriaProyectos {
    .row {
      .cardShadow {
        @include BoxShadow(3px, 3px, 5px, #aaaaaa);
      }
    }
  }
}