
#containerProyectos
{
  @include SectionPadding(40px, 0px, 10px, 0px);
  .cardShadow {padding:0;}

  //arregla overflow-x generado por BTS
  .row { margin:0; }
}



/***********************/
/*INICIO MEDIA QUERIES*/
/*Netbooks and Desktops*/

@media only screen and (min-width:992px)
{
  /*Sombras cards Galería*/
  #containerProyectos
  {
    .row
    {
      .cardShadow:nth-child(odd) { @include BoxShadow(10px,10px,5px,#aaaaaa); }
      .cardShadow:nth-child(even) { @include BoxShadow(-10px,10px,5px,#aaaaaa); }
    }
  }
}



/***********************/
/*Mobile and Tablets*/
@media only screen and (max-width:992px)
{
  /*Sombras cards Galería*/
  #containerProyectos
  {
    .row
    {
      .cardShadow
      {
        @include BoxShadow(3px,3px,5px,#aaaaaa);
      }
    }
  }
}

