
#vidrioPqElegirnos
{
	padding:2rem;
	margin:6rem 2rem 6rem 2rem;
	background: rgba( 255, 255, 255, 0.25 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/*.navBottom .btn-group
{
  	margin: 0 0.5rem;
	border:1px solid red;
	animation: pulse;
  	animation-duration: 3s;
  	animation-iteration-count: 2;
}*/

/*****************************************/
/***********GENERAL ATTRIBUTES************/
/*****************************************/

/*Eliminación de overflow en eje X causado por Bootstrap */
#seccionPlantel, #seccionPorQueElegirnos, #seccionTestimonios, .navBottom
{
	.row
	{
		margin-right: 0;
		margin-left: 0; 
	}
}


#seccionMision
{
	//Gradiente celeste
	background-image:linear-gradient(310deg, #FFFFFF 50%, #DDF9FF);
	.row
	{
		//Texto
		.col-12:nth-child(1) 
		{
			text-align: left;
		}
		
		//Imagen del html reemplazada por background-img de css
		.col-12:nth-child(2) 
		{
			img { visibility: hidden; }
		}
	}
}


#seccionPlantel
{
	border-top: 1px solid black;
	//Parallax
	background-image: url("../images/plano.jpg");
	background-size: cover;
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	.row
	{
		//Cuadro blanco dentro del Parallax
		border:2px solid black;
		border-radius: 5px;
		background-color:map-get($coloresPrincipales,$colour-whiteish-cream);
		box-shadow: inset 0px 15px 15px 0 #BFBFBF, inset 0px -12px 22px #BFBFBF;
		display:flex;
		align-items:center;
		@include BoxShadow(1px,4px,5px,#555D66);
		
		// aumenta tamaño al ">"
		.col-lg-1 { font-size:2rem; }
	}

	@extend .AccordionFormatting;	
	h2 { font-size:3rem; }
	.btn { font-size: 20px; }
}


#seccionPorQueElegirnos
{
	@include SectionPadding(15px, 0px, 15px, 0px);
	.col-12
	{
		padding: 0;
	}
	.whiteSpace
	{
		background-color:map-get($coloresPrincipales,$colour-darker)
	}
	h2{margin:0}
}

#seccionTestimonios
{
	background-color:map-get($coloresPrincipales,$colour-darkest);
	box-shadow:0px 6px 25px #242423 inset;
	color:#f1ebe5;

	.carousel-inner
	{
		.carousel-item
		{
			font-size:1.1rem;
		}
		.testimonio
		{
			text-align: left;
			border-left: 1px solid black;
		}
	}
	.carousel-control-prev-icon,.carousel-control-next-icon
	{
		background-color: map-get($coloresPrincipales, $colour-blueish-logo);
		border-radius: 3px;
		
		//padding = tamaño de los botones left-right
		padding: 25px;
	}

}






.navBottom
{
	@include SectionPadding(100px, 0px, 100px, 0px);
}



/***********************/
/***********************/
/*INICIO MEDIA QUERIES*/
/*mobile Y tablets*/

@media only screen and (max-width: 992px) 
{
	#seccionMision
	{
		.row
		{
			//Texto
			.col-12:nth-child(1)
			{
				padding-top: 40px ;
				padding-bottom: 10px;
			}

			//Imagen
			.col-12:nth-child(2)
			{
			    clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0% 100%);
			    background-image: linear-gradient(171deg, rgba(0,0,0,0.9) 16%, rgba(255,255,255,0) 26%), url('../images/mision.jpg');
			    background-size: cover;
			 
			    //Solo en mobile?
			    padding:0;   
			}
		}
	}

	#seccionPlantel
	{
		//Parallax
		@include SectionPadding (75px, 3%, 75px, 3%);

		.row
		{
			/*Espaciado entre elementos,
			el selector -not- omite los ">"*/
			.col-12:not(.rotate-sm-90)
			{
				padding: 20px 15px;
			}

			//Cuadro blanco dentro del Parallax.
			@include SectionPadding(50px, 5px, 50px, 5px);
						
			//Flechas
			.rotate-sm-90 { transform: rotate(90deg); }
		}
	}

	#seccionTestimonios
	{
		.carousel-inner
		{
			position:relative;
		}
		@include SectionPadding(50px, 0px, 75px, 0px);
		/*Saca los botones fuera del slideshow*/
		.carousel-control-prev { display: flex; justify-content:flex-start; margin-left:-7px; }
		.carousel-control-next { display: flex; justify-content:flex-end; margin-right:-7px; }
		.row:nth-child(2) 
		{ 
			height: 250px;
			.carousel-item
			{
				height: 250px;
			}
		}
	}

	.navBottom
	{
		h2 {font-size: 1.5rem;}
	}
}

/***********************/
/***********************/
/*MOBILE-ONLY*/

//cards-mobile
@media only screen and (max-width: 992px)
{
	#seccionPorQueElegirnos
	{
		.whiteSpace
		{
			height: 3rem;
		}		
	}
}

/***********************/
/***********************/
/*Netbooks and Desktops*/
@media only screen and (min-width: 992px)
{

	#seccionMision
	{
		.row
		{
			.col-12:nth-child(1)
			{
				padding-left:50px
			}
			//Imagen
			.col-12:nth-child(2)
			{
				clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
			    background-image: linear-gradient(114deg, rgba(0,0,0,0.9) 18%, rgba(255,255,255,0) 21%), url('../images/mision.jpg');
			    background-size: cover;
			}
		}
	}

	#seccionPlantel
	{
		//Parallax
		@include SectionPadding (100px, 2%, 100px, 2%);
		.row
		{
			//Cuadro blanco dentro del Parallax.
			padding:50px 25px;
			display:flex;
			justify-content: center;
		}
	}

	#seccionPorQueElegirnos
	{
		#cruz{transform: scale(0.9);}

		background-color: #D9673C;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119' height='119' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23bf5128' fill-opacity='0.77'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.77'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
		h2
		{
			color: map-get($coloresPrincipales,$colour-whiteish-cream);
			font-size:2.2em;
			text-shadow: 2px 2px 4px #000000;
		}
		.square
		{
			border:1px solid #6c757d;
			height: 300px;
			padding: 10px;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.card-body
		{
			//background-color: map-get($coloresPrincipales,$colour-whiteish-cream);
			background:radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(206, 212, 218, 0.77) 100%);
			box-shadow: rgba(0, 0, 0, 0.5) 5.95px 4.95px 5.6px;
		}

		//Columna 1
		.column:nth-child(2) 
		{
			//Arriba izq
			.whiteSpace:nth-child(1) 
			{
				background-color: #323335;
				clip-path: polygon(50% 75%, 75% 75%, 75% 50%, 100% 50%, 100% 100%, 50% 100%); 
			}
			
			//Abajo izq
			.whiteSpace:nth-child(3)
			{
				background-color: #323335;
				clip-path: polygon(50% 25%, 75% 25%, 75% 50%, 100% 50%, 100% 0, 50% 0);
			}
		}

		//Columna 2
		.column:nth-child(3)
		{
			//h2
			.col-12:nth-child(2)
			{
				background-color: #44454D;
			}		
		}

		//Columna 3
		.column:nth-child(4)
		{
			
			//Abajo derecha
			.whiteSpace 
			{
				background-color: #323335;
				clip-path: polygon(0 50%, 25% 50%, 25% 25%, 50% 25%, 50% 0, 0 0);
			}

			//Arriba derecha
			.whiteSpace:nth-child(1)
			{
				background-color: #323335;
				clip-path: polygon(0 100%, 50% 100%, 50% 75%, 25% 75%, 25% 50%, 0 50%);
			}
		}
	}

	#seccionTestimonios
	{
		@include SectionPadding(7rem, 0rem, 7rem, 0rem);
		/*Saca los botones fuera del slideshow*/
		.carousel-control-prev {margin-left: -100px;}
		.carousel-control-next {margin-right: -100px;}

		/*Evita que el alto cambie por diferencia de renglones entre testimonios
		 y que eso mueva las secciones que vienen debajo de esta*/
		.carousel-inner{height: 5rem;}

		.row:nth-child(2) 
		{ 
			height: 170px;
		} 
	}
}

