
/*****************************************/
/***********GENERAL ATTRIBUTES************/
/*****************************************/

/*Eliminación de overflow en eje X causado por Bootstrap */
#seccionPlantel, #seccionPorQueElegirnos, #seccionTestimonios, .navBottom
{
	.row
	{
		margin-right: 0;
		margin-left: 0; 
	}
}


#seccionMision
{
	//Gradiente celeste
	background-image:linear-gradient(310deg, #FFFFFF 50%, #DDF9FF);
	.row
	{
		//Texto
		.col-12:nth-child(1) 
		{
			text-align: left;
		}
		
		//Imagen
		.col-12:nth-child(2) 
		{
			img { visibility: hidden; }
		}
	}

}


#seccionPlantel
{
	border-top: 1px solid black;
	//Parallax
	background-image: url("../images/plano7.jpg");
	background-size: cover;
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	.row
	{
		//Cuadro blanco dentro del Parallax
		border:1px solid black;
		border-radius: 5px;
		background-color:white;
		display:flex;
		align-items:center;

		/*Gana precedencia por sobre el resets.scss,
		devolviendo los -bullets characters- a los ul li*/
		.col-lg-3
		{
			ul li
			{
				list-style: square;
			}
		}
		
		// aumenta tamaño al ">"
		.col-lg-1 { font-size:2rem; }
	}

	@extend .AccordionFormatting;	
	h2 { font-size:3rem; }
	.btn { font-size: 20px; }
}


#seccionTestimonios
{
	background-color:#8d99ae;
	color:#f1ebe5;
	.carousel-inner
	{
		.carousel-item
		{
			font-size:1.1rem;
		}
		.testimonio
		{
			text-align: left;
			border-left: 1px solid black;
		}
	}
	.carousel-control-prev-icon,.carousel-control-next-icon
	{
		background-color: map-get($coloresPrincipales, $colour-blueish-logo);
		border-radius: 3px;
		padding: 15px;
	}

}




#seccionPorQueElegirnos
{
	@include SectionPadding(75px, 0px, 100px, 0px);
	border-top:1px solid black;
	p { margin:0; }

	//H2-cards spacing 
	.row:nth-child(1)
	{
		margin-bottom:50px;
		h2{font-size: 3rem;}
	}

	//cards box-modeling
	.row:nth-child(2)
	{
		//card box modeling
		.cardIconTitleConteiner
		{
			margin-bottom:10px;
			img
			{
				margin-right:5px;
			}
		}

		.card
		{
			height:240px;

			.card-body
			{
				display:flex;
				justify-content:center;
				align-items:center;
				flex-direction: column;
			}

			//posicionamiento del icono a la izq y el title a la derecha
			.cardIconTitleConteiner
			{
				display:flex;
				align-items:center;
				
				//elimina margin estandar del h3
				.card-title { margin-bottom:0; }
			}
		}
	}
}

.navBottom
{
	@include SectionPadding(100px, 0px, 100px, 0px);
}



/***********************/
/***********************/
/*INICIO MEDIA QUERIES*/
/*mobile Y tablets*/

@media only screen and (max-width: 992px) 
{
	#seccionMision
	{
		.row
		{
			//Texto
			.col-12:nth-child(1)
			{
				padding-top: 40px ;
				padding-bottom: 10px;
			}

			//Imagen
			.col-12:nth-child(2)
			{
			    clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0% 100%);
			    background-image: linear-gradient(171deg, rgba(0,0,0,0.9) 16%, rgba(255,255,255,0) 26%), url('../images/mision.jpg');
			    background-size: cover;
			 
			    //Solo en mobile?
			    padding:0;   
			}
		}
	}

	#seccionPlantel
	{
		//Parallax
		@include SectionPadding (75px, 3%, 75px, 3%);

		.row
		{
			/*Espaciado entre elementos,
			el selector -not- omite los ">"*/
			.col-12:not(.rotate-sm-90)
			{
				padding: 20px 15px;
			}

			//Cuadro blanco dentro del Parallax.
			@include SectionPadding(50px, 5px, 50px, 5px);
			
			//container "Resto del equipo".
			.col-lg-3
			{
				h3 { text-align: center; }
				ul li { text-align: left; }
			}
			
			//Flechas
			.rotate-sm-90 { transform: rotate(90deg); }
		}
	}

	#seccionTestimonios
	{
		.carousel-inner
		{
			position:relative;
		}
		@include SectionPadding(50px, 0px, 75px, 0px);
		/*Saca los botones fuera del slideshow*/
		.carousel-control-prev { display: flex; justify-content:flex-start; margin-left:-7px; }
		.carousel-control-next { display: flex; justify-content:flex-end; margin-right:-7px; }
		.row:nth-child(2) 
		{ 
			height: 250px;
			.carousel-item
			{
				height: 250px;
			}
		}
	}

	.navBottom
	{
		h2 {font-size: 1.5rem;}
	}
}

/***********************/
/***********************/
/*MOBILE-ONLY*/

//cards-mobile
@media only screen and (max-width: 768px)
{
	#seccionPorQueElegirnos
	{
		//cards
		.row:nth-child(2)
		{

			//todas las cards
			.col-11
			{
				.card { @include BoxShadow(1px,4px,5px,#555D66); }
			}
			//las primeras 5 cards
			.col-lg-4:nth-child(-n+5) { margin-bottom:25px; }
		}
	}
}

/***********************/
/***********************/
/*TABLET-ONLY*/
@media only screen and (min-width: 768px) and (max-width: 992px)
{
	#seccionPorQueElegirnos
	{
		//cards
		.row:nth-child(2)
		{
			//las primeras 4 cards
			.col-lg-4:nth-child(-n+4) { margin-bottom:25px; }

			//sombra arriba izq
			.col-11:nth-child(1)
			{
				.card { @include BoxShadow(3px,3px,8px,#555D66); }
			}

			//sombra arriba derecha
			.col-11:nth-child(2)
			{
				.card { @include BoxShadow(-3px,3px,8px,#555D66); }
			}

			//sombra centro izq
			.col-11:nth-child(3)
			{
				.card { @include BoxShadow(3px,1px,8px,#555D66);}
			}
			//sombra centro derecha
			.col-11:nth-child(4)
			{
				.card { @include BoxShadow(-3px,1px,8px,#555D66); }
			}

			//sombra abajo izq
			.col-11:nth-child(5)
			{
				.card { @include BoxShadow(3px,-3px,8px,#555D66); }
			}
			//sombra abajo derecha
			.col-11:nth-child(6)
			{
				.card { @include BoxShadow(-3px,-3px,8px,#555D66); }
			}
		}
	}
}

/***********************/
/***********************/
/*Netbooks and Desktops*/
@media only screen and (min-width: 992px)
{

	#seccionMision
	{
		.row
		{
			.col-12:nth-child(1)
			{
				padding-left:50px
			}
			//Imagen
			.col-12:nth-child(2)
			{
				clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
			    background-image: linear-gradient(114deg, rgba(0,0,0,0.9) 18%, rgba(255,255,255,0) 21%), url('../images/mision.jpg');
			    background-size: cover;
			}
		}
	}

	#seccionPlantel
	{
		//Parallax
		@include SectionPadding (100px, 2%, 100px, 2%);
		.row
		{
			//Cuadro blanco dentro del Parallax.
			padding:50px 25px;
			
			
			//container "Resto del equipo".
			.col-lg-3
			{
				text-align: left;
				h3
				{
					font-size:1.5rem;
				}
			}
		}
	}

	#seccionPorQueElegirnos
	{
		//cards
		.row:nth-child(2)
		{
			//las primeras 3 cards
			.col-lg-4:nth-child(-n+3) { margin-bottom:25px; }

			//sombra izq
			.col-11:nth-child(1)
			{
				.card { @include BoxShadow(3px,4px,5px,#555D66); }
			}
			//sombra izq
			.col-11:nth-child(4)
			{
				.card { @include BoxShadow(3px,4px,5px,#555D66); }
			}

			//sombra medio
			.col-11:nth-child(2)
			{
				.card { @include BoxShadow(1px,4px,5px,#555D66); }
			}
			//sombra medio
			.col-11:nth-child(5)
			{
				.card { @include BoxShadow(1px,4px,5px,#555D66); }
			}

			//sombra derecha
			.col-11:nth-child(3)
			{
				.card { @include BoxShadow(-3px,4px,5px,#555D66); }
			}
			//sombra derecha
			.col-11:nth-child(6)
			{
				.card { @include BoxShadow(-3px,4px,5px,#555D66); }
			}
		}
	}

	#seccionTestimonios
	{
		@include SectionPadding(50px, 0px, 15px, 0px);
		/*Saca los botones fuera del slideshow*/
		.carousel-control-prev {margin-left: -100px;}
		.carousel-control-next {margin-right: -100px;}

		/*Evita que el alto cambie por diferencia de renglones entre testimonios
		 y que eso mueva las secciones que vienen debajo de esta*/
		.carousel-inner{height: 75px;}

		.row:nth-child(2) 
		{ 
			height: 170px;
		} 
	}
}

