#index section
{
	border: 1px solid black;
	padding: 50px 0px;
}

/*Flecha #seccionMision*/
.arrow-container
{
	width: 75px;
	height: 75px;
	padding:0;
	/*Estela de alrededor del botón*/
	.arrow-1
	{
		width: 75px;
		height: 75px;
		background: #00BCD4;
		opacity: 0.5;
		border-radius: 50%;
		position: absolute;
		top:0;
	}
	/*Círculo de color*/
	.arrow-2
	{
		width: 45px;
		height: 45px;
		background: #00BCD4;
		border-radius: 50%;
		position: relative;
		top: 15px;
		left: 15px;
		z-index: 1;
		display: table;

		&:before
		{
			width: 39px;
			height: 39px;
			content: "";
			border: 2px solid #006064;
			border-radius: 50%;
			position: absolute;
			top: 3px;
			left: 3px;
		}

		/* ">" (flecha) */
		i.fa
		{
			font-size: 25px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #006064;
		}
	}
}

/* Animación flecha */
.animated.hinge
{
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	animation-iteration-count:infinite;
}
@-webkit-keyframes zoomIn 
{
	0%
	{
		opacity: 0;
		-webkit-transform: scale3d(.4, .4, .4);
		transform: scale3d(.4, .4, .4);
	}
	50% {opacity: 0.5;}
	100% {opacity: 0;}
}
@keyframes zoomIn 
{
	0%
	{
		opacity: 0;
		-webkit-transform: scale3d(.4, .4, .4);
		transform: scale3d(.4, .4, .4);
	}
	50% {opacity: 0.5;}
	100% {opacity: 0;}
}
.zoomIn
{
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}



#seccionTrayectoria
{
	.card
	{
		box-shadow: -5px 6px 2px #aaaaaa;

		background-color: white;
		.card-header
		{
			background-color: $colour-darker;
			.btn
			{
				color: $colour-blueish-logo;
				font-size: 20px;
			}
		}
	}
}

#seccionTestimonios
{
	.carousel-inner
	{
		.testimonio
		{
			text-align: left;
			border-left: 1px solid black;
		}
	}
	.carousel-control-prev-icon,.carousel-control-next-icon
	{
		background-color: $colour-blueish-logo;
		border-radius: 3px;
		padding: 15px;
	}

}

/*Mobile and Tablets*/
@media only screen and (max-width: 992px) 
{
	#seccionMision
	{
		.fa-angle-right
		{
			display:none;
		}

		.CuadrosDeTexto
		{
			box-shadow: -10px 10px 5px #aaaaaa;
		}
		button
		{
			margin: 20px 0px;
		}
	}
	#seccionPorQueElegirnos
	{
		.container-fluid
		{
			.row:nth-child(2)
			{
				margin-top: 1.5rem;
			}
		}
	}
	#seccionTestimonios
	{
		/*Saca los botones fuera del slideshow*/
		.carousel-control-prev {display: flex;justify-content:flex-start;margin-left:-15px;}
		.carousel-control-next {display: flex;justify-content:flex-end;margin-right:-15px;}
	}

	.navBottom
	{
		h2
		{
			font-size: 1.5rem;
		}
	}
}

/*Netbooks and Desktops*/
@media only screen and (min-width: 992px)
{
	/*Shadowing effect*/
	#seccionMision
	{
		padding: 75px 0px;
		.fa-angle-down
			{
				display:none;
			}
		
		.container-fluid
		{
			.row
			{
				.CuadrosDeTexto
				{
					&:nth-child(1)
					{
						margin-left: 20px;
						text-align: left;
						box-shadow: 10px 10px 5px #aaaaaa;
					}
					&:nth-child(3)
					{
						margin-right: 20px;
						box-shadow: -10px 10px 5px #aaaaaa;
						text-align: right;
					}
				}
				button
				{
					box-shadow: 1px 5px 3px #aaaaaa;
					color: $colour-blueish-logo;
				}
			}
		}
	}
	#seccionPorQueElegirnos
	{
		li
		{
			margin: 50px 0px;
		}
	}
	#seccionTestimonios
	{
		/*Saca los botones fuera del slideshow*/
		.carousel-control-prev {margin-left: -100px;}
		.carousel-control-next {margin-right: -100px;}
	}



}


/*Redes Sociales Botones*/
.RedesSociales
{
	padding: 0;	

	li a
	{
		width: 50px;
		height: 50px;
		background-color: $colour-whiteish-cream;
		text-align: center;
		line-height: 50px;
		font-size: 30px;
		margin: 0 5px;
		display: block;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		border: 1px solid whitesmoke;
		z-index: 1;

		.icon
		{
			position: relative;
			color: #262626;
			transition: .5s;
			z-index: 3;
		}
	}
}


/*Redes Sociales animación*/
.RedesSociales li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
.RedesSociales li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.RedesSociales li a:hover:before {top: 0;}

.RedesSociales li:nth-child(1) a:before{background: #25D366;}

.RedesSociales li:nth-child(2) a:before
{
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}