.containerProyectoX
{

	//Main img 
	.container-fluid:nth-child(2)
	{
		.row
		{
			padding-top:3rem;
			//centra la imagen horizontalmente con el resto del contenido
			.col-12 { padding:0; }
			
			img
			{
				width:100%;
				height:auto;
			}
		}
	}

	//Centra verticalmente al carousel con respecto a la [Descripción del proyecto].
	#CarouselProyectoX
	{
		.carousel-inner
		{
			display:flex;
			align-items:center;
		}
	}
	
	//Formatea las lineas separadoras
	.guardBand
	{
		height: 20px;
		overflow:hidden;
		img
		{
			width:100%;
		}
	}

	
	.framesProyectoX
	{
		margin-top:65px;

		.container-fluid
		{
			//b&y band, YT video, b&y band
			.row:first-child
			{
				justify-content: center;
				background-color: #535c68;
				color:map-get($coloresPrincipales, $colour-whiteish-cream);

				//h2 "Video del proyecto"
				.col-lg-5
				{
					display:flex;
					align-items:center;
					justify-content: center;
					img { margin-right:10px; }
					h2 { margin:0; }
				}
				//frame YT video
				div:nth-child(3)
				{
					iframe
					{
						width: 100%;
						/*Elimina un espacio en blanco que se forma debajo del renglón, 
						propio de los display:inline de los iframes.*/
						display:block;
					}
				}
			}

			//seccion GoogleMaps
			.row:nth-child(2)
			{
				display:flex;
				align-items:center;
				justify-content: center;
				.col-xl-5
				{
					display:flex;
					align-items:center;
					justify-content: center;
				}
				iframe
				{
					width:100%;
					height:400px;
					/*Elimina un espacio en blanco que se forma debajo del renglón, 
					propio de los display:inline de los iframes.*/
					display:block;
				}
				img
				{
					margin-right: 10px;
				}
				h2
				{
					display:inline-block;
					margin:0;
				}

			}
		}
	}

	//formateo whitespace inner section
	.navBottom
	{
		border-top:1px solid black;
		@include SectionPadding(60px, 0px, 75px, 0px);
	}
}



/***********************/
/*INICIO DE MEDIA QUERIES*/
/*Netbooks and Desktops*/
@media only screen and (min-width: 992px)
{
	.containerProyectoX 
	{
		.carousel-inner
		{
			height:550px;
		}
		.CuadrosDeTexto
		{
			text-align: left;
			justify-content: left;
			#DescriptProyX
			{
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: flex-start;
			}
		}
	}
	.framesProyectoX
	{
		.container-fluid
		{
			//b&y band, YT video, b&y band
			.row:first-child
			{
				//h2 "Video del proyecto"
				.col-lg-5
				{
					padding: 65px 0px 65px 0px;
				}

				//frame YT video
				div:nth-child(3)
				{
					padding: 65px 0px 65px 0px;
					iframe
					{
						height: 400px;
					}
				}
			}

			//seccion GoogleMaps
			.row:nth-child(2)
			{
				background-color:white;
				color:black;

				//iFrame
				.col-lg-6
				{
					margin: 65px 0px 65px 0px;
				}
			}
		}
	}
}




/***********************/
/*Mobile and Tablets*/

@media only screen and (max-width: 992px)
{

	.containerProyectoX 
	{
		.CuadrosDeTexto
		{
			justify-content: center;
			align-items: center;
			#DescriptProyX 
			{
				span
				{
					text-align: center;
				}
				h2
				{
					font-size:1.5rem;
				}
			}
		}
		
		#CarouselProyectoX
		{
			padding: 0;
			.carousel-inner { height:300px; }
		}
		
		.framesProyectoX
		{
			.container-fluid
			{
				.guardBand { padding:0; }

				//b&y band, YT video, b&y band
				.row:first-child
				{
					//h2 "Video del proyecto"
					.col-lg-5
					{
						//padding mobile
						padding: 25px 0px 25px 0px;
					}
					//frame YT video
					div:nth-child(3)
					{
						//padding mobile
						padding:0px;
						iframe
						{
							//height and margin mobile
							height: 300px;
							margin-bottom: 40px;
						}
					}
				}

				//seccion GoogleMaps
				.row:nth-child(2)
				{
					.col-12{margin-bottom:10px;}
					padding: 35px 0px 35px 0px;
				}
			}
		}
		
		.navBottom
		{
			@include SectionPadding (45px, 0px, 75px, 0px);
		}
	}
}






















//MEDIUM-PHONE (not small)
@media only screen and (min-width: 576px) and (max-width: 768px)
{
	#CarouselProyectoX
	{
		.carousel-inner
		{
			height:450px;
		}
	}
}

//TABLET
@media only screen and (min-width: 768px) and (max-width: 992px)
{
	#CarouselProyectoX
	{
		.carousel-inner
		{
			height:600px;
		}
	}
}
