
#llaveEnMano
{
	#cuatroPasosSon
	{
		padding-top:4rem;
		padding-bottom:4rem;
	}
}




.servicios
{
	ul 
	{
		margin-bottom:0;
		li
		{
			list-style-type: disc;
		}
	}
	h1{margin-bottom: 0;}
}


.solicitarAsesoram
{
	background-color: #393E46;

	.row
	{
		background:linear-gradient(0deg, rgba(238, 238, 238, 1) 0%, rgba(157, 221, 223, 1) 100%);
		clip-path: polygon(99% 0, 94% 50%, 99% 100%, 1% 100%, 6% 50%, 1% 0);
		.col-12:nth-child(1)
		{
			display:flex;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
			//color:white;
		}
		.col-12
		{
			button
				{
					box-shadow: 2px 2px 4px #3F3F3F;
					font-size: 1.3rem;
				}
		}
	}
}


