.servicios
{
	.filtroDeContenido{padding: 0;}
	ul 
	{
		margin-bottom:0;
		li { list-style-type: disc; }
	}
	
	h1{margin-bottom: 0;}
}



.solicitarAsesoram
{
	background-color: #393E46;

	.row
	{
		display:flex;
		justify-content: center;
		background:linear-gradient(0deg, rgba(238, 238, 238, 1) 0%, rgba(157, 221, 223, 1) 100%);
		clip-path: polygon(99% 0, 94% 50%, 99% 100%, 1% 100%, 6% 50%, 1% 0);
		.col-12
		{
			button
				{
					box-shadow: 2px 2px 4px #3F3F3F;
					font-size: 1.3rem;
				}
		}
		//call to action
		.col-12:nth-child(1)
		{
			display:flex;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
		}
		.col-12:nth-child(2) {height:10.5rem;}

	}
}


/***********************/
/***********************/
/*Notebooks and Desktops*/
@media only screen and (min-width: 992px)
{
	.solicitarAsesoram
	{
		button { width:50%; }
		.row
		{
			//call to action
			.col-12:nth-child(1) { height:10rem; }
			//btn
			.col-12:nth-child(2) {height:8rem;}
		}

	}
}

/***********************/
/***********************/
/*INICIO MEDIA QUERIES*/
/*mobile Y tablets*/

@media only screen and (max-width: 992px) 
{
	.solicitarAsesoram
	{
		button
		{
			width:75%;
			margin-top:1.5rem;
		}
		.row
		{
			//call to action
			.col-12:nth-child(1)
			{
				height:auto;
				margin: 1rem 0px;
				padding:0px 20px;
			}
			//btn
			.col-12:nth-child(2) {height:10rem;}
		}
	}
}