/*********/
/*MAPAS*/
$colour-darkest: #222831;
$colour-darker: #393E46;
$colour-blueish-logo: #00ADB5;
$colour-whiteish-cream: #EEEEEE;
$shadow: #2d3436;
$coloresPrincipales: (
	$colour-darkest: $colour-darkest,
		$colour-darker: $colour-darker,
			$colour-blueish-logo: $colour-blueish-logo,
				$colour-whiteish-cream: $colour-whiteish-cream,
					$shadow: $shadow
					);

				/*********/
				/*MIXINS*/
				@mixin BoxShadow($x, $y, $blur-rad, $color) {
					box-shadow: $x $y $blur-rad $color;
				}

				@mixin AnchoAlto($width, $height) {
					width: $width;
					height: $height;
				}

				@mixin TopLeft($arriba: 0, $izq: 0) {
					top: $arriba;
					left: $izq;
				}

				@mixin SectionPadding($top, $right, $bottom, $left) {
					padding: $top $right $bottom $left;
				}

				/*********/
				/*EXTENDS*/
				.AccordionFormatting {
					.card {
						box-shadow: 5px 6px 2px #ABA5A2;
						background-color: white;

						.card-header {
							background-color: map-get($coloresPrincipales, $colour-darker);

							.btn {
								color: map-get($coloresPrincipales, $colour-blueish-logo);
							}
						}
					}
				}