@import 'variables';
@import 'resets';
@import 'bodyGlobalStyles';
@import 'footer';
@import 'index';
@import 'faq';
@import 'proyectosX';
@import 'galeria';
@import 'servicios';
@import 'vtaViviendas';
@import 'llaveEnMano';
@import 'remodelacionEdilicia';
@import 'piletas';